body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;

}

.box2,.box4{
    border: 2px solid lightslategray ;
    padding: 20px;
    width: 160vh ;
    font-size: large;
}
.box1,.box3,.box5,.box6{
    padding: 10px;
}
.box6{
    font-size: larger;

    background-color:blue;
    border-radius: 10px;
}